<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <title>Tsai Liiiiiiiiiii</title>
</head>

<body>
    <div class="main-container">
        <div class="intro" id="intro">
            <h1 class="title">ABOUT ME
            </h1>
            <div class="intro-cards-container">
                <div class="intro-card">
                    <img src="/resources/tsai_tju.jpg" alt="">
                    <div class="intro-card-words">
                        <p>Once a Graduate</p>
                        <p>in English</p>
                        <p>in Marketing</p>
                        <br>
                        <p>@TJU</p>
                        <p>@JHU</p>
                    </div>
                </div>
                <div class="intro-card">
                    <img src="/resources/tsai_creeper.jpg" alt="">
                    <div class="intro-card-words">
                        <p>Once a Co-Founder</p>
                        <p>Supervisor</p>
                        <p>Reptile Raiser</p>
                        <br>
                        <p>@Creeper</p>
                    </div>
                </div>
                <div class="intro-card">
                    <img src="/resources/mkt.gif" alt="">
                    <div class="intro-card-words">
                        <p>Once a Marketer</p>
                        <p>Article Writer</p>
                        <br>
                        <p>@Shopee</p>
                    </div>
                </div>
                <div class="intro-card">
                    <img src="/resources/tsai_fly.jpg" alt="">
                    <div class="intro-card-words">
                        <p>Now a Student</p>
                        <p>CS Learner</p>
                        <p>New Life Challenger</p>
                        <br>
                        <p>@NEU</p>
                    </div>
                </div>
            </div>
            <div class="intro-content-container">
                <div class="intro-words-container">
                    <ul>
                        <li>
                            <p>Full-Time Graduate Student of Computer Sciences at Northeastern University</p>
                        </li>
                        <li>
                            <p>Experienced marketer with outstanding communication, creativity,</p>
                            <p>critical thinking and problem-solving skills</p>
                        </li>
                    </ul>



                </div>
            </div>
        </div>
        <div class="intro" id="projects-parent">
                <h1 class="title">PROJECTS
                </h1>
            <div class="projects-parent">
                <div class="project-container">
                    <img src="/resources/campground.jpg" class="project-pic" alt="...">
                    <div class="carousel-caption">
                        <p class="project-title" id="project-title">TsaiCamp</p>
                        <p class="project-title" id="project-title">Campground Review Website [Full-Stack]</p>
                        <p class="project-intro">Employed JavaScript, Express with Node.js to build a full-stack UGC
                            website for users to explore campgrounds from lists and cluster maps, allowed them to upload
                            reviews with self-built authentication middleware based on frameworks like Passport.js</p>
                        <p class="project-intro">Generated RESTful APIs enabling full CRUD functions, with data backed
                            on MongoDB Atlas,
                            images data on Cloudinary</p>
                        <p class="project-intro">Utilized HTML to represent the website, CSS and frameworks such as
                            Bootstrap to improve
                            styling </p>
                        <div class="icon-container">
                            <a href="https://tsai-camp2021.herokuapp.com/"><img class="icon"
                                    src="/resources/link.png"></a>
                            <a href="https://github.com/CheukTsai/Campground/"><img class="icon"
                                    src="/resources/github.png"></a>
                        </div>
                    </div>
                </div>
                <div class="project-container">
                    <img src="/resources/todo.jpg" class="project-pic" alt="...">
                    <div class="carousel-caption">
                        <p class="project-title" id="project-title">Nonprofit Communication Automation [Java]</p>
                        <p class="project-intro" >Designed Gradle project in Java with MVC architecture, employed builder
                            pattern, enabled program processing specific commands</p>
                        <p class="project-intro">Fulfilled functionalities as: collecting data from CSV files,
                            searching, displaying, deleting, and updating data on original or new CSVs</p>
                    </div>
                </div>
                <div class="project-container">
                    <img src="/resources/4connect.jpg" class="project-pic" alt="...">
                    <div class="carousel-caption">
                        <p class="project-title" id="project-title">AI Connect Four Game [Python]</p>
                        <p class="project-intro">Designed and developed the Connect Four graphical game in Python, utilized Processing to fulfill computer and human interactions, visually recorded every move of two players</p>
                        <p class="project-intro">Stimulated AI chess behavior with Minimax, increased game difficulty and playability</p>
                        <div class="icon-container">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="intro" id="interests">
            <h1 class="title">INTERESTS
            </h1>
            <div class="intro-cards-container">
                <div class="intro-card">
                    <img src="/resources/workout.jpg" alt="">
                    <div class="intro-card-words">
                        <p>WORKOUT</p>
                        <br>
                        <p>FILL MY STRENGTH</p>
                    </div>
                </div>
                <div class="intro-card">
                    <img src="/resources/cook.jpg" alt="">
                    <div class="intro-card-words">
                        <p>COOKING</p>
                        <br>
                        <p>FILL MY STOMACHE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro" id="contacts">
            <h1 class="title">CONTACTS
            </h1>
            <div class="intro-content-container">
                <div class="intro-words-container">
                    <p id="contact-info">Available from 9am to 5 pm on every Weekday</p>
                    <ul>
                        <li>
                            <p>Email:</p>
                            <p>li.zhuoca@northeastern.edu</p>
                        </li>
                        <li>
                            <p>Phone:</p>
                            <p>(206)226-6259</p>
                        </li>
                        <li>
                            <p>Address:</p>
                            <p>17th Ave NW, Seattle, WA 98107</p>
                        </li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="nav-title">
            <a class="title" id="nav-title" href="../index.html">TSAI LI</a>
        </div>
        <div class="nav-content">
            <a href="../index.html" class="nav-item" id="nav-word">HOME</a>
            <a href="#projects-parent" class="nav-item" id="nav-word">PROJECTS</a>
            <a href="#interests" class="nav-item" id="nav-word">INTERESTS</a>
            <a href="#contacts" class="nav-item" id="nav-word">CONTACTS</a>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="icon-container" id="icons-footer">
                <a href="https://www.linkedin.com/in/zhuocai-tsai-li/"><img class="icon icon-footer"
                        src="/resources/linkedin.png"></a>
                <a href="https://github.com/CheukTsai"><img class="icon icon-footer" src="/resources/github.png"></a>
                <a href="mailto:li.zhuoca@northeastern.edu"><img class="icon icon-footer"
                        src="/resources/email.png"></a>
            </div>
            <p id="copyright">Copyright &copy;2021 Zhuocai Tsai Li</p>
        </div>
    </footer>
</body>

</html>