<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Tsai Liiiiiiiiiii</title>
</head>

<body>
    <div class="main-container">
        <div class="intro" id="intro">
            <h1 class="title">ABOUT ME
            </h1>
            <div class="intro-cards-container">
                <div class="intro-card">
                    <img src="/resources/tsai_tju.jpg" alt="">
                    <div class="intro-card-words">
                        <p>Once a Graduate</p>
                        <p>in English</p>
                        <p>in Marketing</p>
                        <br>
                        <p>@TJU</p>
                        <p>@JHU</p>
                    </div>
                </div>
                <div class="intro-card">
                    <img src="/resources/tsai_creeper.jpg" alt="">
                    <div class="intro-card-words">
                        <p>Once a Co-Founder</p>
                        <p>Supervisor</p>
                        <p>Reptile Raiser</p>
                        <br>
                        <p>@Creeper</p>
                    </div>
                </div>
                <div class="intro-card">
                    <img src="/resources/mkt.gif" alt="">
                    <div class="intro-card-words">
                        <p>Once a Marketer</p>
                        <p>Article Writer</p>
                        <br>
                        <p>@Shopee</p>
                    </div>
                </div>
                <div class="intro-card">
                    <img src="/resources/tsai_fly.jpg" alt="">
                    <div class="intro-card-words">
                        <p>Now a Student</p>
                        <p>CS Learner</p>
                        <p>New Life Challenger</p>
                        <br>
                        <p>@NEU</p>
                    </div>
                </div>
            </div>
            <div class="intro-content-container">
                <div class="intro-words-container">
                    <ul>
                        <li>
                            <p>Full-Time Graduate Student of Computer Sciences at Northeastern University</p>
                        </li>
                        <li>
                            <p>Experienced marketer with outstanding communication, creativity,</p>
                            <p>critical thinking and problem-solving skills</p>
                        </li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="nav-title">
            <a class="title" id="nav-title" href="../index.html">TSAI LI</a>
        </div>
        <div class="nav-content">
            <a href="../index.html" class="nav-item" id="nav-word">HOME</a>
            <a href="projects.html" class="nav-item" id="nav-word">PROJECTS</a>
            <a href="interests.html" class="nav-item" id="nav-word">INTERESTS</a>
            <a href="contacts.html" class="nav-item" id="nav-word">CONTACTS</a>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="icon-container" id="icons-footer">
                <a href="https://www.linkedin.com/in/zhuocai-tsai-li/"><img class="icon icon-footer"
                        src="/resources/linkedin.png"></a>
                <a href="https://github.com/CheukTsai"><img class="icon icon-footer" src="/resources/github.png"></a>
                <a href="mailto:li.zhuoca@northeastern.edu"><img class="icon icon-footer"
                        src="/resources/email.png"></a>
            </div>
            <p id="copyright">Copyright &copy;2021 Zhuocai Tsai Li</p>
        </div>
    </footer>
</body>

</html>