<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Tsai Liiiiiiiiiii</title>
</head>

<body>
    <div class="main-container">
        <div class="intro" id="interests">
            <h1 class="title">INTERESTS
            </h1>
            <div class="intro-cards-container">
                <div class="intro-card">
                    <img src="/resources/workout.jpg" alt="">
                    <div class="intro-card-words">
                        <p>WORKOUT</p>
                        <br>
                        <p>FILL MY STRENGTH</p>
                    </div>
                </div>
                <div class="intro-card">
                    <img src="/resources/cook.jpg" alt="">
                    <div class="intro-card-words">
                        <p>COOKING</p>
                        <br>
                        <p>FILL MY STOMACHE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="nav-title">
            <a class="title" id="nav-title" href="../index.html">TSAI LI</a>
        </div>
        <div class="nav-content">
            <a href="../index.html" class="nav-item" id="nav-word">HOME</a>
            <a href="projects.html" class="nav-item" id="nav-word">PROJECTS</a>
            <a href="interests.html" class="nav-item" id="nav-word">INTERESTS</a>
            <a href="contacts.html" class="nav-item" id="nav-word">CONTACTS</a>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="icon-container" id="icons-footer">
                <a href="https://www.linkedin.com/in/zhuocai-tsai-li/"><img class="icon icon-footer"
                        src="/resources/linkedin.png"></a>
                <a href="https://github.com/CheukTsai"><img class="icon icon-footer" src="/resources/github.png"></a>
                <a href="mailto:li.zhuoca@northeastern.edu"><img class="icon icon-footer"
                        src="/resources/email.png"></a>
            </div>
            <p id="copyright">Copyright &copy;2021 Zhuocai Tsai Li</p>
        </div>
    </footer>
</body>

</html>